@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --font-base: "Nunito", sans-serif;
  --font-alt: "Open Sans", sans-serif;
  --color-white: #ffffff;
  --color-red: #f91c85;
  --color-grey: #00000029;
  --color-light-gray: #f0efef;
  --color-dark-blue: #43c0f6;
  --color-dark-gray: #707070;
  --color-light-blue: #88dbff;
  --color-primary-blue: #42c0f6;
  --color-bg: #fff;
  --color-footer: #b2e4fa;
  --color-cta: #efeff1;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

a {
  color: unset;
  text-decoration: none;
}
